/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    height: 70px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #FFD700;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFD700;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

.login-section {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img {
    width: 100%;
    height: auto;
    border-radius: 7%;
    max-width: 500px; /* Ajusta según el tamaño deseado */
}

.login-form {
    flex: 1;
    max-width: 400px;
    margin-left: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button, .register-button, .admin-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
}

.login-button {
    background-color: #FFD700;
}

.register-button {
    background-color: #007BFF;
}

.admin-button {
    background-color: #28A745;
}

.links {
    margin-top: 20px;
}

.links a {
    display: block;
    color: #007BFF;
    text-decoration: none;
    margin-bottom: 10px;
}

.links a:hover {
    text-decoration: underline;
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-left, .footer-middle, .footer-right {
    margin-bottom: 20px;
}

.footer-middle {
    margin-left: 30px;
}

.footer-left h3, .footer-middle h3, .footer-right h3 {
    color: #FFD700;
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-left p, .footer-middle a, .footer-right p {
    font-size: 16px;
    margin: 5px 0;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-icon {
    font-size: 20px;
    margin-right: 10px;
}

.footer-middle a {
    color: #fff;
    text-decoration: none;
}

.footer-middle a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 1024px) {
    .login-section {
        flex-direction: column;
    }

    .login-image img {
        max-width: 100%;
    }

    .login-form {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .login-form h1 {
        font-size: 24px;
    }

    button, .register-button, .admin-button {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .login-form h1 {
        font-size: 20px;
    }

    button, .register-button, .admin-button {
        font-size: 12px;
        padding: 6px;
    }

    .footer-container {
        padding: 0 10px;
    }
}